/*TUGAS SEKOLAH BY DRUZEFX*/

/*BODY ANIMASI*/

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    overflow: visible;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.perkenalan{
    font-family: Poppins;
    text-align: center;
    color: rgba(255, 255, 255, 0.685);
    margin-bottom: 30px;
}

.judul12{
    font-family: Poppins;
    font-weight: bold;
    color: darkorange;
    text-shadow: 2px 2px #ff0000;
    text-align: center;
}

.judul1{
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
    color: #1C3547;
}

.judul2{
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
    color: #1C3547;
}

/*Script1*/
.box1, .box2{
    font-family: Poppins;
    text-align: center;
    width: 300px;
    height: 50px;
    padding: 15px;
    border: 5px solid red;
    margin: auto;
    margin-top: 20px;
    background: yellow;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

/*Script2*/
.container{
    margin: auto;
    max-width: 1000px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    border: 2px solid black;
}

.container .kotak1{
    height: 50px;
    border: 2px solid black;
    background: yellow;
    width: 10px;
    margin: auto;
}

.container .kotak2{
    height: 50px;
    border: 2px solid black;
    background: yellow;
    width: 50px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container .kotak3{
    height: 50px;
    border: 2px solid black;
    background: yellow;
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container .kotak4{
    height: 50px;
    border: 2px solid black;
    background: yellow;
    width: 500px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container .kotak5{
    height: 50px;
    border: 2px solid black;
    background: yellow;
    width: 1000px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Script3*/
.container1{
    margin: auto;
    max-width: 1000px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    border: 2px solid black;
}

.container1 .kotak1-3{
    height: 50px;
    width: 20%;
    border: 2px solid black;
    background: yellow;
    margin: auto;
}

.container1 .kotak2-3{
    height: 50px;
    width: 70%;
    border: 2px solid black;
    background: yellow;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container1 .kotak3-3{
    height: 50px;
    width: 90%;
    border: 2px solid black;
    background: yellow;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto
}

/*Script 4*/
.container2{
    margin: auto;
    max-width: 950px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    border: 2px solid black;
}

.container2 .paragraf1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    color: #292828;
}

.container2 .paragraf2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    width: 400px;
    color: #292828;
}

.container2 .paragraf3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    color: #292828;
}
